<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>subjectManage</servlet-name>
        <url-pattern>/subjectManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentList</servlet-name>
        <url-pattern>/stlist</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>classManage</servlet-name>
        <servlet-class>controller.classManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subjectManage</servlet-name>
        <servlet-class>controller.subjectManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentList</servlet-name>
        <servlet-class>controller.StudentList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>classManage</servlet-name>
        <url-pattern>/classManage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
</web-app>
